<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Polife`</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{!-- This only shows if logged in --}}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hello, Matt <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</a></li>
            <li class="divider"></li>
            <li><a href="/admin/viewQuestions"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; View Questions</a></li>
            <li class="divider"></li>
            <li><a href="/admin/viewAnswers"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp; View Answers</a></li>
            <li class="divider"></li>
            <li><a href="/admin/addQuestionForm"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Questions</a></li>
            <li class="divider"></li>
            <li><a href="/users"><span class="glyphicon glyphicon-user"></span>&nbsp; Add Users</a></li>
            <li class="divider"></li>
            <li><a href="/admin/logout"><span class="glyphicon glyphicon-off"></span>&nbsp; Log Out</a></li>
          </ul>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
      </ul>
    </div>
  </div>
</nav>