<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-warning">404 Error!</h2>
            <hr>
            <h4><span class="glyphicon glyphicon-alert"></span>&nbsp; There was an error serving the page that you requested.</h4>
            <br>
            <p><span class="text-info">Error detail:</span> <pre>{{message}}</pre></p>
        </div>
    </div>
</div>
