{{!-- Forbidden page --}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-warning">Forbidden!</h2>
            <hr>
            <h4><span class="glyphicon glyphicon-alert"></span>&nbsp; You are not authorized to visit the requested page.</h4>
        </div>
    </div>
</div>