{{!-- App main index page - serve question to guest --}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Hello!  Please answer the following question:</h2>
            <hr>
              {{!-- If there are no questions in the system, show feedback --}}
              {{#if noSystemQuestions}}
                <div class="well">
                    <p class="text-warning">There are no questions in the system!</p>
                </div>
              {{/if}}
              {{!-- If a question was generated, present question to guest --}}
              {{#if question}}
                <form class="form-horizontal" id="guest-survey-form">
                    <fieldset>
                        <div class="panel panel-default panel-guest-question">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            {{question}}
                        </div>
                            <div class="panel-body">
                                {{!-- Entry feedback --}}
                                <div class="error"></div>
                                <div class="success"></div>
                                <div class="guest-question-container">
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                        {{!-- Save QuestionId --}}
                                        <input type="hidden" name="QuestionId" id="QuestionId" value="{{QuestionId}}">
                                        {{#choices}}
                                            <div class="radio">
                                                <label>
                                                <input type="radio" name="choice" id="choice" value={{this.id}}>
                                                {{this.choice}}
                                                </label>
                                            </div>
                                        {{/choices}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <button type="submit" class="btn btn-info" id="survey-submit-btn"> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
              {{/if}}
              {{!-- If guest has answered all possible questions, show feedback --}}
              {{#if allQuestionsAnswered}}
                <div class="well">
                    <p class="success">You have already answered all questions in the system.</p>
                    <p>Thank you for your participation!</p>
                </div>
              {{/if}}
            </div>
        </div> {{!-- /.col-xs-12 --}}
    </div>
</div>
