html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

.error {
    color: #d9534f;
}

.success {
    color: #5cb85c;
}

/* Increase size of navbar links */
.navbar {
    font-size: 16px;
}

.navbar-default .navbar-brand,
.modal-title {
    color: #A19E82;
    font-weight: 300;
}

.navbar-default .navbar-nav>li>a {
    color: #d3d3d3;
    font-weight: 300;
}

.dropdown-menu {
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.dropdown-menu .divider {
    margin: 0;
}

.dropdown-menu>li>a {
    font-size: 15px;
    padding: 10px 20px;
    font-weight: 200;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

a {
  color: #00B7FF;
}

a:hover, a:visited, a:focus {
    text-decoration: none;
}

/* Remove focus outlines from all links */
a:focus {
    outline: none;
}

.glyphicon-trash {
    font-size: 14px;
}

.delete-question-link {
    font-weight: 300;
    color: gray;
}

/* Remove focus outlines from all buttons */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

.panel, .well {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.panel-title>a {
    color: #5bc0de;
}

.panel-user .panel-heading {
    font-size: 20px;
    font-weight: 200;
    color: #A19E82;
}

.panel-question .panel-heading {
    font-size: 18px;
    font-weight: 400;
    color: #2b3e50;
}

.panel-guest-question .panel-heading {
    font-size: 20px;
    font-weight: 200;
    color: #A19E82;
}

.panel-create-question .panel-heading {
    font-size: 18px;
    font-weight: 200;
    color: #A19E82;
}

.panel-create-question button {
    margin-top: 13px;
}

.panel-answer .panel-body {
    font-weight: 200;
}

.form-group.form-button {
    margin-bottom: 0;
}

legend {
    font-weight: 200;
}

label {
    font-size: 15px;
    font-weight: 300;
}

input.form-control.main {
    background: none;
    border: 1px solid #ccc;
    color: #ccc;
    margin: 10px 6px;
}

input.answer {
    margin: 10px 6px;
}

input#registerPass {
    margin-bottom: 5px;
}

.password-requirement {
    font-weight: 200;
}

.radio label, .checkbox label, .help-block {
    font-weight: 200;
}

#survey-submit-btn {
    margin-top: 15px;
}

.panel-title.text-gray {
    color: #737373;
}

.panel-title>a.text-danger {
    color: #d9534f;
}

.radio label {
    font-size: 17px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here, must equal margin-bottom of body */
    height: 50px;
    border-color: #121212;
    color: #A19E82;
}

.footer p {
    margin: 14.5px 0;
}

/* Media queries */
@media (max-width: 768px) {
    /* Hide 'Remove' link word on small devices */
    .remove-link-span {
        display: none;
    }
}